h1, h2{
    font-family: "Bree Serif";
}
header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

body{
    font-family: "Assistant";
    font-color: black;
    line-height: 1.5;
    text-align: center;
}
header, footer{
    background-color: #E8B4BC;
    font-color: #898989;
    text-align: left;
}
img{
    float: right;
    margin: 10px;
    border: 3px solid navy;
    width: 200px;
    height: auto;
}
