div{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 15px;
}

img[data-src] {
    filter: blur(.2em);
}

img {
    border: 2px solid black;
    filter: blur(0em);
    transition: filter 0.5s;
}

