/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

 /* NAV- ALL PAGES */ 
    nav button{ 
        display: none;
    }
    nav ul.hide {
        display: flex;
    }
    nav ul {
        margin-left: 2%;
        justify-content: space-around;
    }
    
    nav ul li a{
        border:none;
        padding: .6rem 1rem;
    }
     /* PRESTON PAGE */ 
    .weatherSummary{
        position: absolute;
        top: 20px;
        left: 50px;
        background-color: #E0E6E6;
        opacity: .75;
        box-shadow: 2px 5px;
        padding: 10px;
        border: 2px solid #022B3A;
    }

    .weatherSummary p {
        margin: 10px;
        color: #022B3A;
    }
    .weekBox{

        display: flex;
        flex-flow: column;
        text-align: center;   
    }
    .weekBox img {
    background-color: #00a99d;
    border-radius: 60px;
    border: 1px solid #022B34;
    width: 40%;
}
.article{ 
    display: block;

}
.article img{
    float: right;
}
    .mapBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 75%;
        margin: auto;
        border: 2px solid;
        padding-bottom: 10px;
    }
    .map {
        grid-column: 1; 
        grid-row: 2; 
    }
    .mapBox h2 {
        grid-column: 1 / 3;
    }
    .info{
        justify-self: center;
        grid-column: 2;
    }

     /* GALLERY PAGE */ 
    .weatherGallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    figure {
        margin: 0;
        
    }

    form fieldset{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Homepage */
    .community {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }
    .city {
        display: grid;
	    grid-template-columns: 1fr 1fr;
    }
    .city:nth-child(odd) img {
        grid-column: 2;
        grid-row: 1/5;
        
    }
    .city:nth-child(odd) p, .city:nth-child(odd) h2 {
        grid-column: 1; 
    }   
    .city:nth-child(even) img{
        grid-column: 1;
        grid-row: 1/5;
    }
    .city:nth-child(even) p, .city:nth-child(even) h2 {
        grid-column: 2; 
    }  
    
    
} /*end medium */
