@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:wght@500&display=swap');



.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; 
    grid-gap: 5px;
     
}
h1, h2 {
    font-family: "playball", cursive;
    font-weight: 400;
    color: #6b5e62; 
}
p {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    margin: 0;
}
body{
    background-color: #CDDDDD;
}

section{
    background-color: #acbdba;
    display: flex;
    flex-direction: column;
    border: 2px solid #6b5e62;
    justify-content:center;
    align-items: center;
}

img{
    width: 60%;
    box-shadow: 0 5px 15px;
    padding: 5px;
    margin: 20px;  
}
header, footer {
  text-align:center;
}

/* Medium View */

@media only screen and (max-width: 30rem) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

/* Large View */

@media only screen and (max-width: 65rem) {
    .cards{
        grid-template-columns: repeat(4, 1fr);
    }
  }