@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:wght@500&display=swap');
/* Medium View */
@media only screen and (max-width: 35rem) {
    .cards {
      grid-template-columns: repeat (2, 1fr);
    }
  }

/* Large View */
@media only screen and (max-width: 64rem) {
    .cards{
        grid-template-columns: repeat(4, 1fr);
    }
  }

.cards {
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-content: center;
    max-width: 1020px;
}
h1, h2 {
    font-family: "playball", cursive;
    font-weight: 400;
    color: #6b5e62;
}
p {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    margin: 0;
}
body{
    background-color: #CDDDDD;
}

section{
    background-color: #acbdba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #6b5e62;
}

img{
    width: 60%;
    box-shadow: 0 5px 15px;
    
}
