body{
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 1em;
}
main{

}
thead th, tfoot td {
    background-color: #7fb9c2;
    color: black;
}

th{
    background-color: #628ca6;
    color: white;
    font-weight: bold;
    table-layout: fixed;
    padding: 5px;
}
td{
    padding: 3px;
}
table{
    width: 275px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d7e0dd;
    text-align: center;
    box-shadow: 8px 10px 9px #628ca6;
}
table tr:nth-child(even){
    background-color: #e7f0ed;
}
table tr:nth-child(odd){
    background-color: #e7ffed;
}
#big {
    background-color: #628ca6;
    color: white; 
}
tfoot td {
    font-size: .75em;
}
thead th{
    font-size: 1.5em;
}