@media only screen and (min-width: 32.5em) {
  h1 {
      font-size: 2.5rem;
     }  
  h2 {
        font-size: 1.5rem;
     }
  header, footer {
      border-radius: 15px;
  }
  img {
    border-radius: 15px;
    box-shadow: 3px 3px 3px;  
    border: 6px solid #4C5C68;
    float:right;
    position: relative;
    margin-top: 100px;
    bottom: 200px; 
  }
}
