/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

     
    
    nav button{ 
        display: none;
    }
    nav ul.hide {
        display: flex;
    }
    nav ul {
        margin-left: 2%;
        justify-content: space-between;
    }
    
    nav ul li a{
        border:none;
        padding: .6rem 1rem;
    }
    .weatherSummary{
        position: absolute;
        top: 20px;
        left: 50px;
        background: radial-gradient(#7C8483, #E0E6E6);
        opacity: .65;
        box-shadow: 2px 5px;
        padding: 10px;
        border: 2px solid #022B3A;
    }
    .weekBox{
        background-color: #00a99d;
        display: flex;
        flex-flow: column;
        
    }
} /*end medium */
