@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap');
header{
    background-color:#022B3A;
    color: #7C8483; 
    padding: 5px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
}
footer{
    background-color:#022B3A;
    color: #7C8483; 
    padding: 5px 0;
    margin: 0;
    display: block;
    text-align: center;
}

header img{
    width: 200px;
    height: auto;
}
.motto h1 {
    color: #00a99d;
    font-size: 1.6rem;
    padding: 0;
}
.motto h3 {
    color: #7C8483;
    padding: 0 0 0 15px; 
}

body {
    background-color: #8DA7BE;
}
main {
    background-color: #E0F2E9;
    margin: 10px;
}
h1{
    font-family: "PT Serif", "serif";
    font-style: italic;
    font-weight: 700;
}
h2, h3, h4, h5, h6 {
    font-family: "PT Serif", "serif";
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 0;
}
p{
    font-family: "Open Sans", "sans serif"; 
}
h1, h2, h3, h4, h5, h6 {
    color: #022B3A; 
    text-align: center;
}
nav{
    background-color: #8DA7BE;
    font-size: 1.5em;

}
nav ul {
    list-style-type: none;
    color: #022B3A;
    padding:0;
    margin: 0;
    text-align: center;
    justify-content: center;
}
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #E0F2E9;

}
nav a:link, nav a:visited {
    color: #022B3A;
}
nav a:hover {
    color: #022B3A ;
    background-color: #00a99d;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid;
   
}
nav ul li .active{
    background-color: #00a99d;
    color: white;
}
nav ul.hide{
    display:none;
}
#banner{
    background-color: #7C8483;
    color: #E0F2E9;
    padding: 5px;
    text-align: center;
    display: none;
}

.heroDiv {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.heroDiv img{
    width: 100%;
    border: 2px solid #022B3A;

}

.weatherSummary{
    position: absolute;
    top: 5px;
    left: 10px;
    background: radial-gradient(#7C8483, #E0E6E6);
    opacity: .65;
    box-shadow: 2px 5px;
    padding: 10px;
    border: 2px solid #022B3A;
}
.weatherSummary p{
    margin:0;

}

.heroMain {
    position: relative;
    margin: 10px auto;
}
 .weekBox{
     background-color: #00a99d;
     display: none;
     
 }

.weekBox th{
    background-color: #022B3A;
    color: #E0E6E6;
    border-collapse: collapse;
}
.weekBox table, td {
    border: 2px solid #022B3A;
    padding: 10px;
    margin: 10px;
    background-color: #E0E6E6;
    
  }
.weekBox table{
    border-collapse: collapse;
}

#homePic2 {
    width: 275px;
    float: right;
}
.mapBox{
    background-color: #8DA7BE;
    display: grid;
    grid-template-columns: 1fr;
   
}
.map{
    width: max-content;
    margin: 0 auto;
    border: 1px solid #022B3A;
    padding: 5px;

    background-color: #7C8483;
}
.mapBox p{
    margin: 0px;
}
.article{
    padding: 20px;
    margin:0;
}
.socialMedia img{
    width: 30px;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }