/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

   /* nav- all pages */  
    nav button{ 
        display: none;
    }
   
    nav ul {
        margin-left: 2%;
    }
    nav ul li {
        float: left;
    }
    nav ul li a{
        border:none;
        padding: .6rem 1rem;
    }
      /* PRESTON PAGE */  
    
    .weatherSummary{
        position: absolute; 
        top: 35px;
        left: 350px;
    }
    .heroDiv img{
        width: 65%;
        border: 2px solid #022B3A;
        margin-left: 250px;
    
    }
    .weekBox{
        display: flex;
        flex-flow: column;
    }
    
.article{
    display: grid;
    padding: 20px;
    margin: 45px;
     }
     .article h2{
        grid-column: 1/4;
        grid-row: 1;
    }
    .article img {
        grid-row: 2;
        grid-column: 3;
        margin-left: 10px;
        box-shadow: 3px 5px 12px;
    }
  
     /* GAllERY PAGE */ 
   .weatherGallery {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr; 
       grid-template-rows: 1fr 1fr 1fr;
       justify-items: center;
       grid-gap: 15px;
   }
   figure {
       margin: 0;
   }
   figure:hover{
    box-shadow: 2px 3px 30px grey;
}
    form fieldset{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

    /*HomePage*/
    .community {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .city {
    display: block; 
    }


} /*end large */