@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap');
header, footer{
    background-color:#022B3A;
    display: block;
    margin: 0;
}
header img{
    width: 150px;
    height: auto;
    padding: 25px;
}
header h1{
    color: #7C8483; 
}
header, footer{
    text-align: center; 
    padding: 25px; 
    color: #7C8483;  
}
body {
    max-width: 100%;
    display: block; 
    margin: 0;
}
main {
    background-color: #E0F2E9;
    padding: 50px;
    margin: 0;
}
h1{
    font-family: "PT Serif", "serif";
    font-style: italic;
    font-weight: 700;
}
h2, h3, h4, h5, h6 {
    font-family: "PT Serif", "serif";
    font-weight: 700;
}
p{
    font-family: "Open Sans", "sans serif"; 
}
h1, h2, h3, h4, h5, h6 {
    color: black; 
    margin: 0;
}
.navigation{
    background-color: #8DA7BE;
    padding: 5px;
    margin: 0;
    font-size: 1.5em;
}
nav ul {
    list-style-type: none;
    color: #022B3A;
    display: block;
    text-align: center;
    justify-content: space-evenly;
}
nav a:link, nav a:visited {
    color:#7C8483;
}
nav a:hover {
    color: #022B3A ;
    background-color: #7B9E87 ;
}
#logo{
      width: 300px;
      height: auto;
}
.girl img{
      width: 150px;
      height: auto;
      border: 8px solid #7C8483;
}
.girl{
    line-height: 1em;
    margin: 0;
}
.boy img{
    width: 250px;
    height: auto;
    border: 8px solid #7C8483;
}
.demographic {
    display: grid;
    grid-template-columns: 1fr;
    margin:0;
    letter-spacing: normal;
}

