
header, footer{
    background-color:#022B3A;
    display: block;
    margin: 0;
}
header img{
    width: 150px;
    height: auto;
    padding: 25px;
}
header h1{
    color: #7C8483; 
}
header, footer, h1{
    text-align: center; 
    padding: 25px; 
    color: #7C8483;  
}
body {
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    display: block; 
    margin: 0;
}
main {
    background-color: #E0F2E9;
    padding: 50px;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
    font-size: 25px;
    font-family: "PT Serif", serif;
}
nav{
    background-color: #8DA7BE;
    padding: 5px;
    line-height: 2em;
    font-size: 1.5em;
}
nav ul {
    list-style-type: none;
    color: #022B3A;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
nav a:link, nav a:visited {
    color:#7C8483;
}
nav a:hover {
    color: #022B3A ;
    background-color: #7B9E87 ;
}
#logo{
      width: 300px;
      height: auto;
}
.girl img{
      width: 150px;
      height: auto;
      border: 10px solid #7C8483;
}
.girl{
    line-height: 1em;
    margin: 0;
}
.boy img{
    width: 250px;
    height: auto;
}
.demographic {
    display: grid;
    grid-template-columns: 1;
    margin:0;
    letter-spacing: 2px;
}

