/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    /* nav- all pages */  
     nav button{ 
         display: none;
     }
    
     nav ul {
         margin-left: 2%;
     }
     nav ul li {
         float: left;
     }
     nav ul li a{
         border:none;
         padding: .6rem 1rem;
     }
     footer{
         height: 100px;
     }
     footer a, p{
         font-size:1em;
     }
     .foot{
         padding: 0 50px 0 50px;
     }
     .footLink{
         margin-top: 10px;
     }
     .weatherSummary{
        width: 200px;
        padding: 10px;
        text-align: center;
    }
     .homePic{
        width:900px;
        margin-left: 200px;
    }
    } 