/* general page */
body {
    background-color: #F03A47;
}

main {
    background-color: white;
    margin: 2%;
    border-radius: 25px;
    padding: 15px;
}

header, footer {
    background-color: #F5EE9E;
    margin: 1%;
    padding: 2%;
    border-radius: 25px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
a:link {
    text-decoration: none;

}
/* end of general page */

/* header */
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
header img{
    border-radius: 25px;
    border: 2px dotted #F03A47;

}
.info{
    width: fit-content;
    border: 2px dotted #F03A47;
    padding: 15px;
    border-radius: 25px;
    background-color: #51D9DB;
    justify-self: end;
    
}
.info h2{
    font-size: 2em;
    margin: 0  0 10px 0;
}
.info p {
    margin: .5px;
}
 /* end of header */

 /* nav bar */
 nav{
    flex-direction: row;
    font-size: 1.6rem;
}
nav ul {
    margin: 0;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding:0; 
    color: #F5EE9E;
}

nav button{ 
    margin-left:5%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #F5EE9E;

}
nav a:link, nav a:visited {
    color: #F5EE9E;
}
nav a:hover {
    color: #51D9DB;
    border:2px dotted #F5EE9E;
}
nav ul li a{
    display: block;
    border:none;
    padding: 5px;
}
nav ul.hide{
    display:none;
}

/* end of nav */

 /* footer */
 footer {
     display: flex;
     flex-direction: row;
 }
 .socialMedia {
     background-color: #51D9DB;
     border-radius: 25px;
     border: 2px dotted #F03A47;
     padding: 5px;
 }
/* SITE PLAN */
.primary{
    background-color: #F03A47; 
}
.secondary{
    background-color: #F5EE9E; 
}
.accent1{
    background-color: #51D9DB;
}
.colors {
        width: 100%;
        min-width: 350px;
        margin: auto;
        text-align: center;
      }
      .colors th {
        background-color:whitesmoke;
      }
      .colors td{
        height: 10em;
}
 /* end of footer */

/* home page */
.homeTop{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 7em;
}
.homePic{
    border-radius: 25px;
    border: 2px solid black;
    margin: 5px;
}
.weatherSummary{
    background-color: #F5EE9E;
    background-image: linear-gradient(#51D9DB ,#F5EE9E);
    border: 2px dotted #F03A47;
    border-radius: 25px;
    width: fit-content;
    padding: 10px;
    text-align: center;
    grid-template-columns: end;
    grid-template-rows: 1fr;
 
}
#reserveButton{
    background-color: #51D9DB;
    border-radius: 13px;
    font-size: 24px;
    padding: 8px;
    border: 2px dotted #F03A47;
}
.weekBox table{
    border:2px solid #51D9DB;
    border-radius: 25px;
    width: 85%;
    text-align: center;
}
 
 .weekBox h2 {
    padding: 0;
    margin-top: 5px;

}
.weekBox th{
    background-color: #F5EE9E;
    color: black;
    border-radius: 7px;
    padding: 5px;
}
.weekBox table, td { 
    padding: 10px;
    margin: 10px;
    background-color:#51D9DB; 
  }

.weekBox img{
    width: 55%;
}
    

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }