 /* 35em is also 560px when basefont is 16px */
 @media only screen and (min-width: 35rem) {

/* header  */

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.homeTop{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 7em;
}
.weatherSummary{
    max-width: 210px;
    min-width:100px;
    padding: 10px;
    text-align: center;
}
    /* NAV- ALL PAGES */ 
    nav button{ 
      display: none;
  } 
  nav ul.hide {
      display: flex;
  }
  nav ul {
      margin-left: 2%;
      justify-content: space-around;
  }
  
  nav ul li a{
      border:none;
      padding: .6rem 1rem;
  }
.homePic{
    width:650px;

}
.homeGallery{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: space-around;
}
.homeGallery img{
  width: 100%;
}
footer{
    display: flex;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    width: fit-content;
    grid-template-columns:1fr;
}
/* reservation page  */
.top select, 
.top input,
.top textarea {
    width: 40%;
}
#state{
    width:11%
}
#country{
    width: 10%
}
.submitButton{
    width: 40%;
}
/* end of reservation page  */
/* confirmation pages  */
.grateful {
    text-align: center;
}
.grateful img{
    width: 800px;
}
/* end of confirmation page  */
/* tour page  */
.banner{
    width: 900px;
}
/* end of tour page  */
/* contact page  */
.contactUs{
    display:grid;
 
}
.p p, 
.p a {
    margin:0;
    float:left;
    text-align: left;
}
.contactUs h4{
    float:left;
    margin-bottom:0;
}

.contactUs iframe{
    margin-left: auto;
    margin-right: auto;
}
/* .sign {
    grid-area: 'image';
}
.p1{
    grid-area: 'para1';
}
.p2{
    grid-area: "para2";
}
.p3{
    grid-area: "para3";
}
.h4 {
    grid-area:"headline";
}
.guidelines{
    grid-area: "map";
}
.contactUs{
    display:grid;
    grid-template-areas:
    'para1 para1  image image'
    'para2 para2  image image'
    'para3 para3  image image'
    'headline  headline headline headline '
    'map map map map ';
    grid-gap: 5px;
}  */


  } 